<section>
  <div class="container-fluid pt-3">
    <div
      (dblclick)="handleOpenDialog($event)"
      class="bg-img"
      id="main-img-container"
    >
      <div
        [style.left.px]="gate?.left"
        [style.top.px]="gate?.top"
        class="single-gate p-2"
        *ngFor="let gate of gateList"
      >
        <button class="btn btn-primary">
          {{ gate?.name }}
        </button>
        <div
          id="{{ gate?.id }}"
          class="alert alert-warning alert-dismissible fade show gate-name"
          role="alert"
        >
          <p>Product found in {{ " " + gate?.name + " " }}</p>
          <button
            (click)="closePopupMessage($event)"
            type="button"
            class="btn-close"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <div class="row mt-5 align-items-center">
      <!-- Product list stated here  -->
      <div class="col-sm-4">
        <h4>Select product</h4>
        <mat-form-field appearance="fill">
          <mat-label>select product</mat-label>
          <mat-select [(ngModel)]="selectedProductValue" name="product">
            <mat-option
              (click)="onChangeProduct(product)"
              *ngFor="let product of globalService.products"
              [value]="product.name"
            >
              {{ product.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Product list ended here   -->

      <!-- Gate list started here  -->
      <div class="col-sm-4">
        <h4>Select Gate</h4>
        <mat-form-field appearance="fill">
          <mat-label>select Gate</mat-label>
          <mat-select [(ngModel)]="selectedGateValue" name="product">
            <mat-option
              (click)="onChangeGate(gate)"
              *ngFor="let gate of gateList"
              [value]="gate.name"
            >
              {{ gate.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;
        <button class="btn btn-primary" (click)="handleScan()">Scan</button>
        &nbsp;&nbsp;
        <button class="btn btn-primary" (click)="clearStorage()">
          Reset All Gate
        </button>
      </div>
      <!-- Gate list ended here  -->
    </div>
  </div>
</section>
