.bg-img {
  height: 400px;
  background-color: transparent;
  background-image:url('../../../assets/images/floor.jpg');
  background-position: 0px 0px, 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 10px;
}

.gate-container {
  position: absolute;
  top: 235px;
  left: 221px;
}
.gate-1{
    width: 80px;
}
.gate-2 {
  position: absolute;
  width: 80px;
  left: 250px;
  top: 10px;

}
.gate-2-div {
  position: absolute;
  width: 80px;
  left: 250px;
  top: 70px;

}